test-results
node_modules
src/routes/testdir

# Unused files
src/unused/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/package
/test-results
bun.lockb

# IDE files
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
